body {
    margin:        20px auto;
    padding:       0 20px;
    width:         1200px;
    font-family: AriaL;
    background: darkgray;
}

h1 {
    margin: 0 0 0 10px;
    color: #fff;
    font-weight: normal;
}

h2 {
    margin: 0 0 0 10px;
    color: #1f5b8c;
    font-weight: normal;
}

ul {
    list-style: none;
}

li {

}

.section {
    width:      1190px;
    margin:     20px auto;
    padding:    5px;
    background: url(images/header.png) no-repeat;
    overflow: hidden;
}

.subsection {
    padding: 10px 0 0;
    float: left;
}

    .roadmap {
        float: left;
        clear: both;
        width: 100%;
        margin: 0;
        padding: 0;
    }

        .roadmap li {
            background: white;
            border:     2px solid #cccccc;
            clear:      none;
            color:      #cccccc;
            float:      left;
            margin:     3px;
            padding:    5px;
            text-align: center;
            width:      30%;
        }

        .subsection .roadmap li.active {
            background: #1f5b8c;
            border:     2px solid #1f5b8c;
            color:      #fff;
        }

        .roadmap li.enabled {
            background: #fff;
            border:     2px solid #bfcfdb;
            color:      #bfcfdb;
        }

    .form_section {
        clear: both;
        float: left;
        display: none;
    }

    .form_section.active {
        display: block;
    }

.form_section {
    margin: 0;
    padding: 7px;
    width: 98%;
}

    .form_section li.error {
        background: #fff;
        border: 1px solid #ff0000;
        color: #ff0000;
        font-size: 13px;
        margin: 0 0 10px 108px;
        padding: 3px;
    }

    .form_section label {
        color: #1f5b8c;
        float: left;
        padding: 3px;
        width: 100px;
    }

    .form_section input {
        border:    1px solid #1f5b8c;
        color:     #1f5b8c;
        font-size: 16px;
    }

    .form_section .radio_label {
        font-size: 14px;
        float: none;
    }

    .form_section button {
        clear: both;
        color: #1f5b8c;
        float: left;
        font-size: 16px;
        padding: 5px;
    }

#player_forms {
    width: 600px;
}

/*
#details_form {
    float: left;
    clear: left;
    overflow:      hidden;
    border:        1px solid #464646;
    width: 350px;
    padding: 0 20px;
    margin-right: 10px;
}
*/

#pureform_details {
    overflow:      hidden;
    padding: 10px;
    width: 500px;

}

    #pureform_details h2 {
        background: url(images/details-header.png);
        border:     1px solid #cccccc;
        color:      #fff;
        font-size:  20px;
        margin:     3px 3px 0;
        padding:    3px;
        width:      99%;

    }

    #pureform_details ul {
        background: #fff;
        border:     1px solid #cccccc;
        color:      #000;
        font-size:  14px;
        height:     400px;
        margin:     0 3px;
        padding:    3px;
        width:      99%;
    }

